@import '~vars.less';

.component {
    position: relative;
}

.component-banner {
    @banner-height: 75vh;

    position: relative;
    background: no-repeat 50% 50%;
    background-size: cover;
    // background-image: url(@assets/banner.jpg);
    background-image: url(@assets/banner/cover.jpg);
    width: 100%;
    height: @banner-height;
    min-height: 340px;
    max-height: 800px;
    overflow: hidden;

    &::before,
    &::after,
    & > .wrapper,
    & > .video {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex: none;
    }
    &::after {
        z-index: 10;
        background: fade(#000, 15%);
    }
    // 点阵
    &::before {
        z-index: 100;
        background-image: radial-gradient(
            fade(#000, 10%) 66.6667%,
            transparent 66.6667%
        );
        background-size: 4px 4px;
        // pointer-events: none;
    }

    & > .wrapper {
        --scale: 1;

        z-index: 200;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 30px;
        opacity: var(--scale);
        transform: scale(var(--scale));
        transform-origin: 50% 100%;

        &::before,
        &::after {
            content: '';
            flex: 1;
        }
    }

    & > .video {
        --offsetY: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translateY(calc(var(--offsetY) * 1px));
    }

    .logo {
        flex: 1;
        color: transparent;
        background: url(@assets/sim-pilot-plate.svg) no-repeat 50% 50%;
        background-size: contain;
        margin: 0;
        padding: 0;
        min-height: 200px;
        user-select: none;
    }
    .subscribe {
        flex: none;
        padding-top: 5vh;
        & > a {
            @size: 40px;
            display: inline-block;
            line-height: @size;
            border-radius: 10px;
            padding-left: (@size + 20px);
            padding-right: 20px;
            color: #fff;
            position: relative;
            text-decoration: none;
            margin: 0 10px;
            transition: transform 200ms ease-out;
            & > .icon {
                content: '';
                position: absolute;
                display: block;
                top: 7px;
                left: 10px;
                bottom: 7px;
                height: (@size - 7px - 7px);
                width: @size;
                background: no-repeat 50% 50%;
                background-size: contain;
                fill: #fff;
            }
            &.youtube {
                background: @color-youtube;
            }
            &.bilibili {
                background: @color-bilibili;
            }
            .styles-hover() {
                color: #fff;
                transform: scale(1.1);
            }
            .styles-active() {
                color: #fff;
                transform: scale(0.95);
            }
            .is-hover-with-focus(.styles-hover(), .styles-active());
        }
    }

    &.mod-pwa {
        height: (@banner-height * 2 / 3);
    }
}

.component-list {
    .hero-patterns();
    padding: 20px 0 60px 0;
    & > .header {
        position: sticky;
        top: -1px;
        z-index: 50;
        padding: 20px 0 24px 0;
        transition: none ease-out 200ms;
        transition-property: box-shadow;
        // transition-property: border-bottom-color, background-color, box-shadow;
        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            top: -20px;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            transition: inherit;
            transition-property: opacity;
            background: fade(#fff, 95%);
            border-bottom: 1px solid transparent;
            border-bottom-color: fade(#000, 15%);
            @supports (backdrop-filter: blur(20px) saturate(180%)) {
                background: fade(#fff, 65%);
            }
        }
        & > .wrapper {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
        }
        &.is-sticky {
            box-shadow: 0 0 10px fade(#000, 10%);
            &::after {
                opacity: 1;
                backdrop-filter: blur(20px) saturate(180%);
            }
        }
        .title {
            flex: 1;
            margin: 0;
        }
        .sources {
            white-space: nowrap;
            text-align: right;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            font-size: 14px;
            color: @theme-bluegrey-400;
            cursor: default;
            .btn-source {
                display: inline-block;
                border: 0;
                padding: 0;
                margin: 0 0 0 0.75em;
                background: none;
                color: inherit;
                cursor: pointer;
                transition: transform 200ms ease-out;
                .styles-hover() {
                    transform: scale(1.2);
                }
                .styles-active() {
                    transform: scale(0.95);
                }
                .is-hover-with-focus(.styles-hover(),.styles-active());
                .icon {
                    @size: 24px;
                    width: @size;
                    height: @size;
                    color: inherit;
                    fill: currentColor;
                }
                &.is-on[data-source='bilibili'] {
                    color: @color-bilibili;
                }
                &.is-on[data-source='youtube'] {
                    color: @color-youtube;
                }
            }
        }
        .tags {
            flex: 1 0 100%;
            margin-top: 0.75em;
            user-select: none;
            .tag {
                margin: 0.75em 0.75em 0 0;
                cursor: pointer;
                &.is-on {
                    cursor: default;
                    &::after {
                        content: '';
                        position: absolute;
                        border: 6px solid transparent;
                        left: 50%;
                        top: 50%;
                        margin-left: -6px;
                        border-bottom-color: inherit;
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }
    & > .list-wrapper {
        border-top: 15px solid transparent;
    }
}

.component-footer {
    cursor: default;
    padding: 26px 0;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
