@import '~vars.less';

.component {
    position: relative;
}

.component-banner {
    @banner-height: 75vh;
    position: relative;
    background: url(@assets/banner.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: @banner-height;
    min-height: 340px;
    max-height: 800px;

    &::before,
    &::after,
    & > .wrapper {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex: none;
    }
    &::after {
        z-index: 10;
        background: fade(#000, 15%);
    }
    // 点阵
    &::before {
        z-index: 100;
        background-image: radial-gradient(
            fade(#000, 10%) 66.6667%,
            transparent 66.6667%
        );
        background-size: 4px 4px;
        // pointer-events: none;
    }

    & > .wrapper {
        z-index: 200;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 30px;
        &::before,
        &::after {
            content: '';
            flex: 1;
        }
    }
    .logo {
        flex: 1;
        color: transparent;
        background: url(@assets/sim-pilot-plate.svg) no-repeat 50% 50%;
        background-size: contain;
        margin: 0;
        padding: 0;
        min-height: 200px;
        user-select: none;
    }
    .subscribe {
        flex: none;
        padding-top: 5vh;
        & > a {
            @size: 40px;
            display: inline-block;
            line-height: @size;
            border-radius: 10px;
            padding-left: (@size + 20px);
            padding-right: 20px;
            color: #fff;
            position: relative;
            text-decoration: none;
            margin: 0 10px;
            transition: transform 200ms ease-out;
            & > .icon {
                content: '';
                position: absolute;
                display: block;
                top: 7px;
                left: 10px;
                bottom: 7px;
                height: (@size - 7px - 7px);
                width: @size;
                background: no-repeat 50% 50%;
                background-size: contain;
                fill: #fff;
            }
            &.youtube {
                background: @color-youtube;
            }
            &.bilibili {
                background: @color-bilibili;
            }
            .styles-hover() {
                color: #fff;
                transform: scale(1.1);
            }
            .styles-active() {
                color: #fff;
                transform: scale(0.95);
            }
            .is-hover-with-focus(.styles-hover(), .styles-active());
        }
    }

    &.mod-pwa {
        height: (@banner-height * 2 / 3);
    }
}

.component-list {
    .hero-patterns();
    padding: 40px 0 60px 0;
    & > .wrapper {
        & > .header {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            .title {
                flex: 1;
                margin: 0;
            }
            .sources {
                white-space: nowrap;
                text-align: right;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                font-size: 14px;
                color: @theme-bluegrey-400;
                cursor: default;
                .btn-source {
                    display: inline-block;
                    border: 0;
                    padding: 0;
                    margin: 0 0 0 0.75em;
                    background: none;
                    color: inherit;
                    cursor: pointer;
                    transition: transform 200ms ease-out;
                    .styles-hover() {
                        transform: scale(1.2);
                    }
                    .styles-active() {
                        transform: scale(0.95);
                    }
                    .is-hover-with-focus(.styles-hover(),.styles-active());
                    .icon {
                        @size: 24px;
                        width: @size;
                        height: @size;
                        color: inherit;
                        fill: currentColor;
                    }
                    &.is-on[data-source='bilibili'] {
                        color: @color-bilibili;
                    }
                    &.is-on[data-source='youtube'] {
                        color: @color-youtube;
                    }
                }
            }
        }
        & > .list {
            border-top: 40px solid transparent;
        }
    }
}

.component-footer {
    cursor: default;
    padding: 26px 0;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}
